<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402865223326-5chhu5el9rd6l2c3daiakbkvaarc7jt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402865223326-5chhu5el9rd6l2c3daiakbkvaarc7jt0</string>
	<key>API_KEY</key>
	<string>AIzaSyC2VJmEX2jcZVfo1V-GOsnK_nOgmxktdZM</string>
	<key>GCM_SENDER_ID</key>
	<string>402865223326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxmob.bizfns</string>
	<key>PROJECT_ID</key>
	<string>bizfinz</string>
	<key>STORAGE_BUCKET</key>
	<string>bizfinz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402865223326:ios:f6a4b483c11340c489ed8f</string>
</dict>
</plist>